$OFF_WHITE_LIGHT: #fdfdfd;
$OFF_WHITE_100: #fafafa;
$OFF_WHITE_200: #f7f7f7;
$OFF_WHITE_300: #f4f4f4;
$OFF_WHITE_400: #f1f1f1;
$OFF_WHITE_500: #efefef;
$OFF_WHITE_600: #ededed;
$OFF_WHITE_700: #ebebeb;
$OFF_WHITE_800: #e8e8e8;
$OFF_WHITE_900: #e4e4e4;

$RED_LIGHT: #fbe4e4;
$RED_100: #f5bbbb;
$RED_200: #ef8d8d;
$RED_300: #e85f5f;
$RED_400: #e33d3d;
$RED_500: #de1b1b;
$RED_600: #da1818;
$RED_700: #d51414;
$RED_800: #d11010;
$RED_900: #c80808;

$YELLOW_LIGHT: #fbfbf0;
$YELLOW_100: #f6f5d9;
$YELLOW_200: #f0eec0;
$YELLOW_300: #eae7a6;
$YELLOW_400: #e6e293;
$YELLOW_500: #e1dd80;
$YELLOW_600: #ddd978;
$YELLOW_700: #d9d46d;
$YELLOW_800: #d5cf63;
$YELLOW_900: #cdc750;

$GREY_LIGHT: #f9fafb;
$GREY_100: #eff2f4;
$GREY_200: #e5e9ed;
$GREY_300: #dbe0e6;
$GREY_400: #d3dae0;
$GREY_500: #cbd3db;
$GREY_600: #c6ced7;
$GREY_700: #bec8d2;
$GREY_800: #b8c2cd;
$GREY_900: #acb7c4;

$BLACK_LIGHT: #e6e6e6;
$BLACK_100: #c0c0c0;
$BLACK_200: #969696;
$BLACK_300: #6b6b6b;
$BLACK_400: #4c4c4c;
$BLACK_500: #2c2c2c;
$BLACK_600: #272727;
$BLACK_700: #212121;
$BLACK_800: #1b1b1b;
$BLACK_900: #101010;

$BACKGROUND_COLOR: $OFF_WHITE_500;

$PRIMARY_TEXT: rgba(0, 0, 0, 0.87);
$SECONDARY_TEXT: rgba(0, 0, 0, 0.36);