@import "../../../variables.scss";

.drinks-section {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;

  .drinks-header {
    height: 4rem;
    display: flex;
    align-items: center;

  }

  .drinks-header-line {
    height: 5px;
    background-color: $RED_300;

    &.line-a {
      flex: 0 0 50px;

      @media only screen and (max-width: 600px) {
        flex: 0 0 30px;

      }
    }

    &.line-b {
      flex: 10 0 0px;
    }

  }

  .drinks-title {
    font-family: $BITTER;
    font-weight: 700;
    padding: 0 1rem;

    @media only screen and (max-width: 600px) {
      font-size: 1.8rem;
    }
  }

  .drinks-row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }

  .drink-link {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;

    }
  }
}