@import "../../../variables.scss";

.landing-search-container {
  background: url(../../../images/high-quality-pour-over-ice.jpg) no-repeat center center fixed;
  -webkit-background-size: fill;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media only screen and (max-width: 600px) {
    height: 400px;
    background: url(../../../images/tall-mojito.jpg) no-repeat top center fixed;
    background-size: contain;
  }
}

.content-container {
  position: absolute;
  top: 30%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 600px) {
    top: 40%;
  }
}

.landing-header {
  font-family: $SOURCE_SANS_PRO;
  text-shadow: 2px 2px $BLACK_500;
  letter-spacing: 2px;
  font-weight: 700;
  color: $OFF_WHITE_400;
  padding-bottom: 2rem;
  font-size: 3rem;

  @media only screen and (max-width: 600px) {
    padding-bottom: 1rem;
  }
}

.react-autosuggest__container {
  width: 320px;

  @media only screen and (max-width: 600px) {
    width: 100%;

  }
}

.react-autosuggest__input {
  height: 3rem;
  font-family: $OPEN_SANS;
  width: 100%;

  padding: 0 1rem;
  text-align: center;
}