@import "../../../variables.scss";

.drink-card-container {
  flex: 1 1 200px;
  min-width: 150px;
  border-radius: 5px;
  box-shadow: $SHADOW_ELEVATION_ONE;
  background-color: $OFF_WHITE_LIGHT;
  height: 100%;
  margin-bottom: 1rem;

  .drink-info-container {

    width: 100%;
    padding: 1rem;
    padding-bottom: 0;
  }

  .drink-info-name {
    font-size: 1rem;
    font-family: $SOURCE_SANS_PRO;

  }

  .drink-image-img {
    width: 100%;

  }
}