
@import "../../variables.scss";

.nav-bar-container {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $GREY_600;
  background-color: $OFF_WHITE_LIGHT;
  padding: 0 2rem;
  .nav-logo {
    font-family: 'Bitter', serif;
    padding: 8px;
    font-size: 2rem;
    font-weight: 700;
    text-shadow:
    -1px -1px 0 #222,
    1px -1px 0 #222,
    -1px 1px 0 #222,
    2px 1px 0 #222,
    3px 3px 0 #222;
    a {
      color: $RED_300;
    }
  }

  .nav-bar {
    display: flex;
    height: 100%;
    align-items: center;
  } 
  .nav-link{
    font-family: 'Bitter', serif;

    font-size: 1rem;
    margin: 0 0.5rem;
  }
}